.buildpath
.project
.settings
build.properties

public/tests/log/*
public/tests/phpdocs/*
public/tests/report/
public/developer/

public/reports/*
public/outputs/*
/logs/*

/application/configs/override.ini
/application/translations/webenq4.mo

/java/createReport.error
/java/tempout/createIntroduction.error
/java/tempout/createReport.error
/java/tempout/amazon
/java/tempout/test/*
*.class
*.jasper
/tmp/*
