.buildpath
.project
.settings

public/tests/log/*
public/tests/phpdocs/*

tests/init_testing.db:
tests/testing.db:

public/reports/*.pdf
public/reports/*.zip
public/reports/test*
public/reports/images
public/reports/tempout
public/reports/*

public/outputs/*.xls

/logs/application.log

/application/configs/override.ini

/java/tempout/createIntroduction.error
/java/tempout/createReport.error
/java/tempout/amazon
/java/tempout/test/*
*.class
*.jasper
/tmp/*
