<phpunit bootstrap="./bootstrap.php" colors="true">
    <testsuite name="Webenq Application and Library Test Suite">
        <directory>./application</directory>
        <directory>./libraries/WebEnq4</directory>
	</testsuite>
	<filter>
        <whitelist>
            <directory suffix=".php">../application/</directory>
            <directory suffix=".php">../libraries/WebEnq4</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="../public/tests/log/report" charset="UTF-8"
            yui="true" highlight="true"
            lowUpperBound="50" highLowerBound="80"/>
        <log type="testdox-html" target="../public/tests/log/testdox.html" />
    </logging>
</phpunit>