<phpunit bootstrap="./bootstrap.php" colors="true">
    <testsuite name="Webenq Test Suite">
        <directory>./</directory>
	</testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">../application/</directory>
            <exclude>
                <directory>../application/views/</directory>
                <directory>../application/models/</directory>
                <file>../application/Bootstrap.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="../public/tests/log/report" charset="UTF-8"
            yui="true" highlight="true"
            lowUpperBound="50" highLowerBound="80"/>
        <log type="testdox-html" target="../public/tests/log/testdox.html" />
		<log type="pmd-xml" target="../public/tests/log/pmd.xml" cpdMinLines="5" cpdMinMatches="70"/>
		<pmd>
	      <rule class="PHPUnit_Util_Log_PMD_Rule_Project_CRAP"
	            threshold="5,30"/>
	      <rule class="PHPUnit_Util_Log_PMD_Rule_Class_DepthOfInheritanceTree"
	            threshold="6"/>
	      <rule class="PHPUnit_Util_Log_PMD_Rule_Class_EfferentCoupling"
	            threshold="20"/>
	      <rule class="PHPUnit_Util_Log_PMD_Rule_Class_ExcessiveClassLength"
	            threshold="1000"/>
	      <rule class="PHPUnit_Util_Log_PMD_Rule_Class_ExcessivePublicCount"
	            threshold="45"/>
	      <rule class="PHPUnit_Util_Log_PMD_Rule_Class_TooManyFields"
	            threshold="15"/>
	      <rule class="PHPUnit_Util_Log_PMD_Rule_Function_CodeCoverage"
	            threshold="35,70"/>
	      <rule class="PHPUnit_Util_Log_PMD_Rule_Function_CRAP"
	            threshold="30"/>
	      <rule class="PHPUnit_Util_Log_PMD_Rule_Function_CyclomaticComplexity"
	            threshold="20"/>
	      <rule class="PHPUnit_Util_Log_PMD_Rule_Function_ExcessiveMethodLength"
	            threshold="100"/>
	      <rule class="PHPUnit_Util_Log_PMD_Rule_Function_ExcessiveParameterList"
	            threshold="10"/>
	      <rule class="PHPUnit_Util_Log_PMD_Rule_Function_NPathComplexity"
	            threshold="200"/>
	    </pmd>
    </logging>
</phpunit>
