body {
	margin: 10px;
	padding: 0;
	font-family: verdana;
	font-size: 10pt;
}

h1, h2, h3 {
	color: #B20000;
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.2em;
}

a, a:active, a:visited {
	color: #F25900;
}

form,
table {
	border: 1px solid #B20000;
	width: 80%;
	margin: 1em auto;
}

dt label {
	margin-left: 1em;
	font-weight: bold;
	background-color: #65B2D8;
	padding: 2px 5px;
}

th {
	font-weight: bold;
	background-color: #65B2D8;
}

form,
tr {
	background-color: #E5E5D8;
}

th, td {
	padding: 3px;
	text-align: center;
}

img {
	border: none;
}

#logo {
	border: none;
	position: absolute;
	right: 10px;
	top: 0;
}

.nav-link {
	margin: 20px 0;
}

.errors {
	color: red;
}