body {
	margin: 0 10px 10px;
	padding: 0;
	font-family: verdana;
	font-size: 10pt;
}

body.loading {
	opacity: 0.3;
}

h1, h2, h3 {
	color: #B20000;
}

h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.2em;
}

a, a:active, a:visited {
	color: #F25900;
}

form {
	background-color: #E5E5D8;
	border: 1px solid #B20000;
	margin: 1em auto;
}

ul {
	padding: 0;
}

form input[type="text"] {
	width: 97%;
}

form input[type="text"].hasDatepicker {
	width: 6em;
}

form dt label {
	margin-left: 1em;
	font-weight: bold;
	color: #65B2D8;
	padding: 2px 5px;
}

table {
	border: 1px solid #B20000;
	margin: 1em auto;
	width: 100%;
}

th {
	font-weight: bold;
	background-color: #65B2D8;
}

tr {
	background-color: #E5E5D8;
}

th, td {
	padding: 3px;
	text-align: center;
}

img {
	border: none;
}

#header {
	clear: both;
	height: 120px;
}

#header #logo {
	float: left;
}

#header #logo h1 {
	margin: 0;
}

#header .navigation {
	clear: right;
	margin: 0 0 0 100px;
	padding: .5em 0 0 0;
	list-style: none;
	background: #E5E5D8;
	display: block;
	height: 2.5em;
}

#header .navigation li {
	float: left;
	margin: 0 10px;
}

#header .navigation li a {
	font-weight: bold;
}

#header .navigation li.active a {
	color: #B20000;
}

#header #language_selector {
	display: block;
	position: absolute;
	top: 10px;
	right: 15px;
	margin: 0;
	padding: 0;
}

#header #language_selector li {
	list-style: none;
	float: left;
	margin: 0 5px;
}

#header #language_selector li.active a {
	font-weight: bold;
}

.errors {
	color: red;
}

ul.droppable,
ul.draggable,
ul.sortable {
	list-style: none;
}

ul.droppable li,
ul.draggable li,
ul.sortable li {
	list-style: none;
	padding: 2px;
}

.ui-state-default {
	list-style: none;
}

li.ui-state-highlight {
	height: 1em;
	list-style: none;
}

li.ui-selectee {
	cursor: pointer;
}

div.clear {
	clear: both;
}

a.icon {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	margin: 0 4px;
	text-decoration: none;
}

a.link {
	display: block;
	margin: 0 4px;
	padding: 0 0 0 20px;
	background: no-repeat;
}

a.add { background-image: url("../images/add.gif"); }
a.edit { background-image: url("../images/edit.gif"); }
a.delete { background-image: url("../images/delete.gif"); }
a.back { background-image: url("../images/back.gif"); }
a.appearance { background-image: url("../images/appearance.gif"); }
a.collect { background-image: url("../images/collect.gif"); }
a.check { background-image: url("../images/check.gif"); }
a.report { background-image: url("../images/report.gif"); }

/* jquery selectable */
ul.selectable {
	list-style: none;
}
.ui-widget-content.ui-selected {
	background: #ffe45c;
}

/* dialog box */
#dialog form {
	background-color: transparent;
	border: none;
	margin: 0;
}

#dialog form fieldset {
	border: none;
	margin: 0;
}

#dialog form dd {
	margin: 0;
}

#dialog form dt label {
	margin: 0;
}