body {
	margin: 10px;
	padding: 0;
	font-family: verdana;
}

h1 {
	color: #B20000;
}

a, a:active, a:visited {
	color: #F25900;
}

table {
	border: 1px solid #B20000;
}

th {
	background-color: #65B2D8;
}

tr {
	background-color: #E5E5D8;
}

th, td {
	padding: 3px;
	text-align: center;
}

img {
	border: none;
}

#logo {
	border: none;
	position: absolute;
	right: 10px;
	top: 0;
}

.nav-link {
	margin: 20px 0;
}

.errors {
	color: red;
}