@CHARSET "UTF-8";


table {
	width: 50%;
	margin-left:2px;
}
table .move{
	width: 10px;
}
table .category{
	width: 30%;
	text-align: left;
}
table .title{
   align: left;
   text-align: left;
}
table .published{
	width:10px;
}
table .actions{
	width:50px;
}

div.questions {
	width: 100%;
}

ul.droppable,
ul.draggable {
	display: block;
	background-color: #E5E5D8;
	border: 1px solid #B20000;
	min-height: 500px;
}

ul.droppable {
}

ul.draggable {
}

div.admin {
	height: 20px;
	margin-bottom: 2px;
}

div.options {
	float: right;
}

li.ui-sortable-helper {
	width: 16px;
	height: 16px;
	overflow: hidden;
}

fieldset.table {
    display: table;
    border: 0;
    padding: 0; 
}

fieldset.table dl {
    display: table-row; 
}

fieldset.table dl dt, 
fieldset.table dl dd {
    display: table-cell;
    margin-left: 0; 
}
  
fieldset.table label {
    margin-left: 0; 
}
