@CHARSET "UTF-8";

div.questions {
	width: 100%;
}

ul.droppable,
ul.draggable {
	display: block;
	background-color: #E5E5D8;
	border: 1px solid #B20000;
	min-height: 500px;
}

ul.droppable {
}

ul.draggable {
}

div.admin {
	height: 20px;
	margin-bottom: 2px;
}

div.handle {
	background: url("../images/asterisk.gif") no-repeat center center;
	float: left;
	cursor: pointer;
	width: 20px;
	height: 20px;
}

div.options {
	float: right;
}

li.ui-sortable-helper {
	width: 16px;
	height: 16px;
	overflow: hidden;
}