@CHARSET "UTF-8";

form {
	border: none;
}

th.actions {
	width: 60px;
}

#name-label {
	float: left;
}
#name-element {
	float: left;
}
#submit-label {
	display: none;
}
#submit-element {
	float: left;
	margin-top: -2px;
}

/* delete confirmation form */
#id-label {
	float: left;
}
#yes-label,
#no-label {
	display: none;
}
#yes-element,
#no-element {
	float: left;
	margin-top: -5px;
}