[production]
db.params.host = "127.0.0.1"
db.params.port = "3306"
db.params.dbname = "webenq4"
db.params.username = "webenq4"
db.params.password = "ChAnGeThIs"

;need the next (empty) override, because we want to use the database and thirdPartyLibs settings defined above.
[development:production]

;testing must not inherit the settings from production, because we want to use the sql-lite database
[testing]
