@CHARSET "UTF-8";

fieldset {
	color: #65B2D8;
	font-weight: bold;
	position: relative;
	margin: 2em 10px 0 40px;
}

fieldset legend {
	position: absolute;
	top: -2em;
	left: -34px;
}

fieldset fieldset {
	margin-left: 0px;
	margin-right: 0px;
}

fieldset fieldset legend {
	left: -10px;
}

fieldset fieldset dt,
fieldset fieldset dd {
	float: left;
}