@CHARSET "UTF-8";

#questionnaire-questions-list li {
	border: 1px solid #B20000;
}

#questionnaire-questions-list li.ui-state-highlight {
	height: auto;
}

#questionnaire-questions-list table {
	margin: 0;
}

#dialog #subquestions,
#dialog #repository-questions {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#dialog #subquestions li {
	margin: 5px 5px 5px 0;
	padding: 0;
	float: left;
	height: 90px;
}

#dialog #repository-questions li {
	cursor: pointer;
}