@CHARSET "UTF-8";


tbody.questionnaire tr{
    cursor: pointer;
}
tbody.questionnaire tr {
    cursor: pointer;
}

/*make room for row when moving*/
tbody.questionnaire tr.ui-state-highlight {
    height: 40px; 
}
